---
platform: linux
image_resource:
  type: docker-image
  source:
    repository: ((docker-repo-name))/ubuntu-xenial-boshcliv2
    tag: "latest"
inputs:
  - name: terraform-oci
  - name: fixture-ssh-keys
  - name: cpi-release-src
outputs:
  - name: oci-config
run:
  path: cpi-release-src/ci/tasks/prepare-test-config.sh
